- pages = [ {headline: "Home"},
  {headline: "Browse Music", icon: "headphones"},
  {headline: "Door Logs", icon: "th-list"},
  {headline: "News", icon: "inbox"},
  {headline: "Weather Report", icon: "bar-chart"},
  {headline: "Street Cars", icon: "road", small: "Should I stay or should I go?"},
  {headline: "Cats", icon: "github-sign", small:  "Choose Kittys for Science!"} ]

.pages.show-page-0
  - pages.each_with_index do |page, index|
    %div{:class => "page-#{index}"}
      .container-page.container
        - if index != 0 # The home page has a big hacktouch slogon
          .page-header
            %h1
              %i{:class => "icon-#{page[:icon]}"}
              = page[:headline]
              %small= page[:small] if page[:small]
        = haml page[:headline].downcase.gsub(" ", "_").to_sym, layout: false

.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      .brand HackTouch 2.1
      %ul.nav
        - pages.each_with_index do |b, index|
          %li{:id => "nav-#{index}"}
            %a{:href=>"#page-#{index}", :title => b[:small]}
              %i{:class=>"icon-#{b[:icon]}"}
              = b[:headline]

