.row.weather-report
  .span6
    .well
      #current_icon.icon{class: @weather[:current].icon}
      %h3 Current
      %span#current_condition= @weather[:current].text
      %table.table
        %tr
          %th Temperature
          %td#current_temp= @weather[:current].temp
        %tr
          %th Wind Speed
          %td#current_windspeed= @weather[:current].windspeed
        %tr
          %th Humidity
          %td#current_humidity= @weather[:current].humidity
  .span3
    .well
      #today_icon.icon{class: @weather[:today].icon}
      %h3 Today
      %span#today_condition= @weather[:today].text
      %table.table
        %tr
          %th High
          %td#today_temp_high= @weather[:today].high
        %tr
          %th Low
          %td#today_temp_low= @weather[:today].low
  .span3
    .well
      #tomorrow_icon.icon{class: @weather[:tomorrow].icon}
      %h3#tomorrow_day= @weather[:tomorrow].day
      %span#tomorrow_condition= @weather[:tomorrow].text
      %table.table
        %tr
          %th High
          %td#tomorrow_temp_high= @weather[:tomorrow].high
        %tr
          %th Low
          %td#tomorrow_temp_low= @weather[:tomorrow].low
