.row.weather-report
  .span6
    .well
      %div{id:"current_icon", class: "icon #{show_weather_icon_current}" }
      %h3 Current
      %span{id: "current_condition"}= weather_condition_current
      %table.table
        %tr
          %th Temperature
          %td{:id=>"current_temp"} #{weather_temp_current}
        %tr
          %th Wind Speed
          %td{id: "current_windspeed"} #{weather_windspeed}
        %tr
          %th Humidity
          %td{id: "current_humidity"} #{weather_humidity}
  .span3
    .well
      %div{id: "today_icon", class: "icon #{show_weather_icon_today}" }
      %h3 Today
      %span{id: "today_condition"}= weather_condition_today
      %table.table
        %tr
          %th High
          %td{:id=>"today_temp_high"} #{weather_temp_today_high}
        %tr
          %th Low
          %td{:id=>"today_temp_low"} #{weather_temp_today_low}
  .span3
    .well
      %div{id:"tomorrow_icon", class: "icon #{show_weather_icon_tomorrow}" }
      %h3{id: "tomorrow_day"} #{weather_tomorrow_text}
      %span{id: "tomorrow_condition"}= weather_condition_tomorrow
      %table.table
        %tr
          %th High
          %td{:id=>"tomorrow_temp_high"} #{weather_temp_tomorrow_high}
        %tr
          %th Low
          %td{:id=>"tomorrow_temp_low"} #{weather_temp_tomorrow_low}
          
    
